html {
  font-size: 16px;
  @include media-max($M){
    font-size: 14.5px ;
  }
}
body {
  margin: 0;
  font-family: IRANSans_light, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  direction: rtl;
  background-color: $BackgroundPublic ;
}