﻿
@font-face {
	font-family: IRANSans_light;
	font-style: normal;
	font-weight: 300;
	src: url('../../../eot/IRANSansWeb_Light.eot');
	src: url('../../../eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../../woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../../woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../../ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans_light;
	font-style: normal;
	font-weight: normal;
	src: url('../../../eot/IRANSansWeb(FaNum).eot');
	src: url('../../../eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../../../woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../../../woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../../../ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../../../eot/IRANSansWeb.eot');
	src: url('../../../eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../../../woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../../../woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../../../ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: IRANSansBold;
	font-style: normal;
	font-weight: normal;
	src: url('../../../eot/IRANSansWeb_Bold.eot');
	src: url('../../../eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../../../woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../../../woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../../../ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
